<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-slide-toggle [formControl]="switchTheme">Change color theme</mat-slide-toggle>
    </mat-toolbar>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis a felis nec hendrerit. Sed cursus aliquet nibh vitae condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas a lacus sed lorem viverra vulputate. Ut a velit in sem viverra venenatis a in dui. Nulla in sollicitudin turpis, sit amet posuere lorem. Fusce bibendum orci ut lacus tincidunt semper. Phasellus eget arcu tortor. Nullam nisl nibh, dictum vitae finibus sit amet, auctor aliquet ligula. Aenean quis velit at libero lobortis gravida molestie sed odio. Morbi bibendum neque ut dui pellentesque, id euismod orci egestas.</p>

<p>Ut placerat nisl placerat ante aliquet, et tempor libero faucibus. Curabitur nec magna vehicula, posuere tellus in, dictum felis. Aliquam vehicula porttitor est ut euismod. Curabitur tempus felis ac turpis interdum, at finibus ipsum congue. Proin aliquam odio quam, non ultrices turpis viverra id. Donec sollicitudin mattis risus in auctor. Pellentesque dignissim purus vitae dapibus pulvinar. Suspendisse a luctus tellus. Duis quis arcu dignissim, varius orci ac, lacinia urna. Nunc fringilla vel est eu cursus. Etiam in dolor a urna malesuada aliquet vitae eu dolor.</p>

<p>Mauris faucibus ultricies felis sit amet rutrum. Phasellus tristique ac risus vitae condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur blandit tellus vel semper. Duis ac purus quis elit placerat accumsan ullamcorper pretium magna. Phasellus bibendum sapien ut metus porta mattis. Fusce nec eros justo. Aliquam erat volutpat.</p>

<p>Vivamus mattis iaculis rhoncus. Donec in ultrices dui. Fusce eget lectus eu justo venenatis mattis non fringilla urna. Vestibulum suscipit mollis quam, in placerat tellus porttitor in. Curabitur sodales, eros a efficitur eleifend, libero diam congue arcu, ac commodo magna nulla posuere nisi. Integer orci lacus, aliquam nec cursus et, dictum sed dui. Curabitur finibus gravida euismod.</p>

<p>Aliquam vel sollicitudin magna. Nunc turpis nunc, faucibus non tellus quis, vehicula lobortis risus. Donec egestas congue justo eu blandit. Maecenas erat justo, vestibulum a consequat nec, viverra id velit. Integer sed nisl congue, pretium sem quis, dictum urna. Ut blandit nunc sed placerat posuere. Donec fringilla ipsum vel porttitor congue. Cras lobortis, purus nec vestibulum euismod, massa ipsum ultrices libero, et vestibulum nunc mi et augue.</p>
  </mat-sidenav-content>
</mat-sidenav-container>
