/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

//$myapp-theme-primary: mat.get;
$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme-light: mat.define-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn
    ),
    typography: mat.define-typography-config(),
    density: 0
));

$my-theme-dark: mat.define-dark-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn
    ),
    typography: mat.define-typography-config(),
    density: 0
));

.theme-dark {
    @include mat.all-component-colors($my-theme-dark)
}

.theme-light {
    @include mat.all-component-colors($my-theme-light)
}

p { margin: 30px !important }
